* text=auto !eol
English/do_not_upload/product-phpkd_vblvb_fix.xml -text
English/import/product-phpkd_vblvb.xml -text
English/readme/info.txt -text
English/readme/install.txt -text
English/readme/license.txt -text
English/readme/upgrade.txt -text
English/screenshots/PHPKD-VBLVB-AdminCP_Cronjob_1.png -text
English/screenshots/PHPKD-VBLVB-AdminCP_Cronjob_2.png -text
English/screenshots/PHPKD-VBLVB-AdminCP_Settings_1.png -text
English/screenshots/PHPKD-VBLVB-AdminCP_Settings_2.png -text
English/screenshots/PHPKD-VBLVB-AdminCP_Settings_3.png -text
English/screenshots/PHPKD-VBLVB-AdminCP_Settings_4.png -text
English/screenshots/PHPKD-VBLVB-Email_Reports.png -text
English/screenshots/PHPKD-VBLVB-PM_Reports.png -text
English/screenshots/PHPKD-VBLVB-Staff_Email_Report.png -text
English/screenshots/PHPKD-VBLVB-Staff_PM_Report.png -text
English/screenshots/PHPKD-VBLVB-User_Email_Report.png -text
English/screenshots/PHPKD-VBLVB-User_PM_Report.png -text
English/upload/admincp/phpkd_vblvb.php -text
English/upload/includes/md5_sums_phpkd_vblvb.php -text
English/upload/includes/phpkd/index.html -text
English/upload/includes/phpkd/vblvb/class_core.php -text
English/upload/includes/phpkd/vblvb/class_dm.php -text
English/upload/includes/phpkd/vblvb/class_dml.php -text
English/upload/includes/phpkd/vblvb/cron.php -text
English/upload/includes/phpkd/vblvb/functions.php -text
English/upload/includes/phpkd/vblvb/functions_databuild.php -text
English/upload/includes/phpkd/vblvb/hooks/admin_options_print.php -text
English/upload/includes/phpkd/vblvb/hooks/admin_options_processing.php -text
English/upload/includes/phpkd/vblvb/hooks/editpost_update_process.php -text
English/upload/includes/phpkd/vblvb/hooks/index.html -text
English/upload/includes/phpkd/vblvb/hooks/newpost_process.php -text
English/upload/includes/phpkd/vblvb/index.html -text
English/upload/includes/phpkd/vblvb/init.php -text
English/upload/includes/phpkd/vblvb/install.php -text
English/upload/includes/xml/bitfield_phpkd_vblvb.xml -text
English/upload/includes/xml/cpnav_phpkd_vblvb.xml.xml -text svneol=unset#text/plain
